<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesint.css') }}">
    <!-- Importar Poppins desde node_modules -->
    <link rel="stylesheet" href="{{ url_for('send_node_module', filename='typeface-poppins/index.css') }}">
    <title>Registro de Pago</title>

    <!-- Etiquetas para la aplicación web progresiva en iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Domyclip Pagos">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='bg.jpg') }}">
    
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>

    <div class="login">
        <img src="{{ url_for('static', filename='bg.jpg') }}" alt="Fondo">
        <h3>¡Bienvenido a Domyclip!</h3>
        <h2>Registro de Consignacion</h2>
        <form action="/pago_cliente" method="post" class="login-form" enctype="multipart/form-data">
            <!-- Campo ocultado nombre de usuario -->
            <input type="number" name="Numero_pago" placeholder="Numero de pago" value="{{ numero_pago }}" required>
            <input type="number" name="valor_pago" placeholder="Valor del Pago" required>
            <input type="date" name="fecha_pago" required>
            <input type="file" name="documento_pago" accept="image/*, .pdf" required>
            <button type="submit">Registrar Pago</button>
            <div class="error">
                {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
                {% endif %}
            </div>
        </form>
    </div>
    <div id="instrucciones" style="display: none;">
        <div class="paso">
            <i class="fab fa-safari"></i> <span>Tap Share</span>
        </div>
        <div class="paso">
            <i class="fas fa-home"></i> <span>Add to Homescreen</span>
        </div>
        <div class="paso">
            <i class="fas fa-plus"></i> <span>Add Domyclip</span>
        </div>
    
        <button id="cerrar"><i class="fas fa-times"></i> Cerrar</button>
    </div>
    
</body>
<script>

    // Verifica si se está visualizando la página en un navegador, pero no en modo de pantalla completa (es decir, la aplicación ya está instalada)
    if (/iPhone|iPad|iPod/i.test(navigator.userAgent) && /Safari/i.test(navigator.userAgent) && !window.navigator.standalone) {
        document.getElementById("instrucciones").style.display = "block";
    } else {
        document.getElementById("instrucciones").style.display = "none";
    }

    // Agrega el evento de clic para cerrar el instructivo
    document.getElementById("cerrar").addEventListener("click", function() {
        document.getElementById("instrucciones").style.display = "none";
    });

</script>
</html>
